<!-- This is template for external notification email-->
<!DOCTYPE html>
<html>
<body>
    <img src = "cid:image_id" > <p>Kính gửi quý đối tác</p>
    <p>Công ty Home Credit có kế hoạch bảo trì hệ thống định kì. Các dịch vụ đang cung cấp cho quý khách có thể bị gián đoạn trong khoảng thời gian sau đây.</p>
    <ul><li>Bắt đầu: {start}</li>
    <li>Kết thúc: {end} </li></ul>
    <p>Kính mong Quý đối tác thông cảm và lưu ý bỏ qua các thông tin cảnh báo (nếu có) từ hệ thống.</p>
    <p>Trân trọng cám ơn.</p>
    <p>HCVN IT</p>
    <hr>
    <p>Dear valued partner</p>
    <p>Home Credit Vietnam is going to do IT system maintenance. The services that are providing to you will be impacted during below duration:</p>
    <ul><li>Start: {start_eng}</li>
    <li>End: {end_eng} </li></ul>
    <p>Please kindly ignore the alert (if any) from your mornitoring system for those services.</p>
    <p>Best Regards,</p>
    <p>HCVN IT</p>

</body>
</html>


