<!-- This is template for incident notification email-->
<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="C:\Users\nhu.huynhny\automation_project\automation_LAP_nhuhuynh\sd-automation-hub\Common\template\incident_notification.css"> -->
    </head>
<body>
    <div style="text-align: center; width: auto;">
        <div style="text-align: center;"><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRExyT1HEwoJgvU1fV0i6TO9ErQGERC8DwBnw&s"></div>      
        <table style="display:flex;justify-content:center;align-items:center;width: 50%;">
            <tbody>
                <tr>
                    <td style="padding: 2%; text-align: left; width: 20%;"><p style="color:blue;"><b>Incident Ticket Number:    </b></p></td>
                    <td style="text-align: left; width: 50%; word-wrap: break-word;"><p style="color:#000000;">{ticketNumber}</p></td>
                </tr>
                <tr>
                    <td style="padding: 2%; text-align: left; width: 20%;"><p style="color:blue; width: 50%;"><b>Description:   </b></p></td>
                    <td style="text-align: left; width: 50%; word-wrap: break-word;"> <p style="color:black; width:50% ; word-wrap: break-word;">{description}</p></td>
                </tr>
                <tr>
                    <td style="padding: 2%; text-align: left; width: 20%;"><p style="color:blue;"><b>Business Impact:   </b></p></td>
                    <td style="text-align: left; width: 50%; word-wrap: break-word;"><p style="color:black;">{businessImpact}</p></td>
                </tr>
            </tbody>
        </table>
        <hr color="blue" noshade width="50%" align="center">
        <table style="display:flex;justify-content:center;align-items:center; width: 50%;">
            <tbody>
                <tr>
                    <td style="padding: 2%; text-align: left; width: 20%;"><p style="color:blue;"><b>Current Status:   </b></p></td>
                    <td style="text-align: left; width: 50%; word-wrap: break-word;"><p style="color:black;">{currentStatus} </p></td>
                </tr>
            </tbody>
        </table>
        <p>Do not hestitate to call us via 'HCVN IT Hotline' for help in any questions</p>
    </div>   
</body>
</html>


