<!-- This is template for internal notification email-->
<!DOCTYPE html>
<html>
<body>
    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRExyT1HEwoJgvU1fV0i6TO9ErQGERC8DwBnw&s">
    <p>Dear all,</p>
    <p>We would like to inform you about following maintenance:</p>
    <p><b>Description:</b> {description}</p>
    <p><b>Start time: </b>{start}</p>
    <p><b>End time: </b> {end}</p>
    <p><b>Impacted Services:</b>{impactedService}</p>
    <p>Do not hestitate to call us via 'HCVN IT Hotline' in MS Team for help in case of any questions</p>
    <p>HCVN IT</p>
</body>
</html>
